.App-container {
  text-align: center;
}

/* body {
  overflow-x: hidden;
  overflow-y: hidden;
} */

.dashboard-nav {
  background-color: #85daef;

}

.dashboard-nav-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-content: space-between;  
}

.dashboard-container {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.dashboard-summary {
  text-align: left;
  font-size: 20px;
  margin: auto;

}


.keypad-container {
  margin: auto;
  padding: 10px;
  white-space: nowrap;
  position: relative;
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  /* font-size: 80px; */
  font-size: 5em;
  text-align: center;

  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(5, 100px);
  grid-gap: 0px;
}

/* .keypad-buttons {
  font-size: 
} */

.read-out {
  grid-column: 1 / -1;
  font-size: 1em;
  line-height: 1.5;
  overflow: hidden;
  margin: auto;
}

.transaction-type-container {
  display: flex;
  margin: auto;
  
}