.App-container {
  text-align: center;
}

/* body {
  overflow-x: hidden;
  overflow-y: hidden;
} */


.dashboard-container {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.dashboard-balance {
  
}


.keypad-container {
  margin: auto;
  padding: 10px;
  white-space: nowrap;
  position: relative;
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  font-size: 4em;
  text-align: center;

  display: grid;
  grid-template-columns: repeat(3, 90px);
  grid-template-rows: repeat(5, 90px);
  grid-gap: 0px;
}

/* .keypad-buttons {
  font-size: 
} */

.read-out {
  grid-column: 1 / -1;
  font-size: 1em;
  line-height: 1.5;
  overflow: hidden;
  margin: auto;
}

.transaction-type-container {
  display: flex;
  margin: auto;
  
}