.App-container {
  text-align: center;
}
/* body {
  overflow-x: hidden;
  overflow-y: hidden;
} */

.dashboard-nav {
  background-color: #84ecaf;

}

.dashboard-nav-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-content: space-between;  
}

.dashboard-container {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.dashboard-summary {
  text-align: left;
  font-size: 20px;
  margin: auto;

}


.keypad-container {
  margin: auto;
  padding: 10px;
  white-space: nowrap;
  position: relative;
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  /* font-size: 80px; */

  font-size: 2em;
  text-align: center;
  background-color: #85daef;

  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(5, 100px);
  grid-gap: 0px;
}

/* .keypad-buttons {
  font-size: 
} */

.read-out {
  grid-column: 1 / -1;
  font-size: 1em;
  line-height: 1.5;
  overflow: hidden;
  margin: auto;
}

.transaction-type-container {
  display: flex;
  margin: auto;
  flex-direction: column;
  position: center;
  line-height: 1;

  
}

.transaction-div {
    padding: 25px;
    text-align: left;
}

.transactions-container {
    display: flex;
    flex-wrap: wrap;
}

.transactions-wrapper {
    height: 1000px;
    overflow: auto;

}



h2 {
    font-family: 'Bungee Hairline', cursive;
    font-size: xx-large;
    font-weight: bolder;
}





.share {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    width: 80px;
    height: 80px;
}

.share ul {
    position: relative;
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 100%;
}

.share ul li {
    position: absolute;
    top: 0%;
    left: 0%;
    list-style: none;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    background: #08c965;
    transition: 0.5s;
    overflow: hidden;
}

.share ul.active li {
    transform: scale(0.95);
}

.share ul li a {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    line-height: 80px;
    text-align: center;
    font-size: 30px;
    color: #4686ff;
    transition: .5s;
}

.share ul li a .fas {
    transform: rotate(-45deg);
}

.share ul li a:hover {
    color: white;
    background: lavender;
}

.toggle {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background: #08c965;
    transform: scale(0.95);
    overflow: hidden;
    border-radius: 50px;
    z-index: 1;
    cursor: pointer;
}

.fa-money-bill-alt {
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 80px;
    color: white;
    font-size: 30px;
    top: 20%;
    left: 12%;
    text-align: center;
    font-size: 40px;
    transform: rotate(-45deg);
}

.fa-money-bill-alt.active::before {
    content: money;
}

